name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"

      - name: prebuild
        run: pnpm install --frozen-lockfile

      - name: build
        run: cd packages/vue-service-bay && pnpm build

      - name: Remove src directory
        run: rm -rf packages/vue-service-bay/src

      - name: Copy README.md
        run: cp README.md packages/vue-service-bay/README.md

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm update:version
          publish: pnpm release
          commit: "chore: release vue-service-bay"
          title: "chore: release vue-service-bay"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
